
.navbar {
  background: transparent;
  
}
.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: #ff0051;
}
